.Dictionary section {
  background-color: rgb(255, 253, 253); 
  border-radius: 6px;
  box-shadow: 4px 8px 9px rgba(43, 43, 43, 0.8);
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 20px 0;
}

.Dictionary .Hint {
  font-size: 13px;
  padding: 0px 20px;

}

.btn .btn-success{
  cursor: pointer;
}

.row {
 padding-top: 15px;
}

.col-8 {
  padding-left: 50px;
  padding-bottom: 10px;
}

